body {
    margin : 0;
    background-color: #161616;
}
/***************** TOP ******************/
.top {
    border-bottom: 3px solid #ffffff;
    height: 5rem;
    margin-top: 2rem;
}
.top input {
    width: 50rem;
    height: 40%;
    margin-left: -25rem;
    margin-right: 10px;
    border-radius: 3px;
    font-size: 15px;
    padding-left: 10px;
    position: relative;
    left: 50%;
    top: 20%;
}
.top button {
    width: 5rem;
    height: 40%;
    background-color: #001a1a;
    border-color: #ffcc66;
    color: #f3f3f3;
    border-radius: 3px;
    position: relative;
    left: 50%;
    top: 20%;
}
/***************** TOP END******************/

/***************** BOTTOM ******************/
.bottom {
    float: left;
    width: 100%;
    display: flex;    
}
.bottom_left {
    margin: 10rem 0rem 5rem 5rem;
    width: 20%;
}
.bottom_center {
    margin: 5rem;
    width: 60%;
}
.bottom_right {
    margin: 10rem 5rem 5rem 0rem;
    width: 20%;
}
/***************** BOTTOM END******************/


/***************** BOTTOM_CENTER ******************/
.memberIcon {
    width: 5rem;
    height: 5rem;
    /* border: 1px solid; */
    float: left;
    margin: 20px;
    text-align: center;
    position: relative;
    cursor: move;
}

.memberIcon .profile {
    width: 5rem;
    height: 5rem;
    border-radius: 15px;
}

.memberIcon span{
    width: 5rem;
    height: 1rem;
    font-size: 12px;
    color: #ffd699;
}
/***************** BOTTOM_CENTER END******************/


/***************** BOTTOM_LEFT ******************/
.positionCard {
    width: 100%;
    border-top: 2px solid #ffcc66;
    border-bottom: 2px solid #ffcc66;
    height : 5rem;
    display: flex;
    justify-content: space-around;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.red .positionIcon {
    width: 5rem;
    height: 5rem;
}
.blue .positionIcon {
    width: 5rem;
    height: 5rem;
}

.memberCard {
    color: #ffd699;   
}
.red .memberCard {
    display: flex;
    justify-content: center;
}
.blue .memberCard {
    display: flex;
    justify-content: center;
}
/***************** BOTTOM_LEFT END ******************/

